## The goal of the project was to accurately identify counterfeit banknotes by analyzing their features such as variance, skewness, curtosis, and entropy.

In [11]:
#import libraries and dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

In [2]:
#Loading the data
df = pd.read_csv('BankNote_Auth.csv')
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
#separate independent and dependent features
X = df.drop(columns='class')
y = df['class']

In [6]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [16]:
#splitting the data into Training and Testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [17]:
#Implement Random Forest Classifier algorithnm

classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
#predict with Test data
y_pred = classifier.predict(X_test)

In [19]:
#Calculate Accuracy
acc_score = accuracy_score(y_test,y_pred)*100

In [20]:
acc_score

99.02912621359224

## Got an accuracy score of 99%

In [21]:
#pickle model
model = open('model.pkl','wb')
pickle.dump(classifier,model)
model.close()

In [22]:
#Prediction system
classifier.predict([[-0.89809,-4.4862,2.2009,0.50731]])

C:\Users\SanthanaLakshmi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)